body {
	text-align: center;
	background-image: url(../images/Baseball.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

#word {
	letter-spacing: 5px;
}
#guess-letters {
	letter-spacing: 10px;
}